{% extends 'flatpages/default.html' %}

{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}


{% block content %}

    <div class="col-lg-12 text-center"><h1>Все статьи</h1>
    <p>{% current_time '%b %d %Y %A' %}</p>
    </div>
    {% if posts %}
<ul class="list-articles">
        {% for post in posts %}
            <li><div class="article-panel">
                <p class="first"> {{ post|verbose_type_name }}</p>
                <p class="last">Дата публикации: {{ post.create_date|date:"d.m.Y H:i:s"}}</p>
            </div>
            <h3>{{post.header|censor}}</h3>

            {{post.text|censor|truncatechars:20}}
            <a href="{{ post.get_absolute_url }}">Читать статью</a>
            <br><br>
            </li>
        {% endfor %}
</ul>
    {% else %}
        <h2>Статей нет!</h2>
    {% endif %}
{% endblock content %}